<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joveeinfotech.kinship">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="kinship.joveeinfotech.kinship.MainActivity"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="kinship.joveeinfotech.kinship.SplashScreen"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="kinship.joveeinfotech.kinship.Login"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="kinship.joveeinfotech.kinship.UserRegistration"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="kinship.joveeinfotech.kinship.Home"
            android:icon="@drawable/logo"
            android:theme="@style/AppThemeActionBar"></activity>
        <activity
            android:name="kinship.joveeinfotech.kinship.UserProfile"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="kinship.joveeinfotech.kinship.UserProfileEdit"
            android:theme="@style/AppThemeNoActionBar" />

        <service
            android:name="kinship.joveeinfotech.kinship.LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="kinship.joveeinfotech.kinship.UserAddress"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>