<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joveeinfotech.bloodex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@drawable/bloodex_logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.joveeinfotech.bloodex.SplashScreen"
            android:theme="@style/Splash">

        </activity>
        <activity
            android:name="com.joveeinfotech.bloodex.view.Login"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.joveeinfotech.bloodex.view.UserRegistration"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.joveeinfotech.bloodex.Home"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@drawable/bloodex_logo"
            android:theme="@style/AppThemeActionBar">

        </activity>
        <activity
            android:name="com.joveeinfotech.bloodex.view.UserDetails"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeNoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joveeinfotech.bloodex.view.ProfileDisplay"
            android:theme="@style/AppThemeNoActionBar" />

        <service
            android:name="com.joveeinfotech.bloodex.utils.LocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.joveeinfotech.bloodex.SendingUserProfileEdit"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.joveeinfotech.bloodex.notification.SendingRequestResponse"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.joveeinfotech.bloodex.notification.SendingPostImageResponse"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.joveeinfotech.bloodex.notification.System_alert_Blood_Donation_Camp"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.joveeinfotech.bloodex.notification.System_alert_Blood_donation_Day"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.joveeinfotech.bloodex.notification.System_alert_Blood_Donor_Invite"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.joveeinfotech.bloodex.notification.System_alert_Get_Permission_of_Donor"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.joveeinfotech.bloodex.notification.System_alert_notification"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.joveeinfotech.bloodex.notification.System_alert_User_Information"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.joveeinfotech.bloodex.utils.SendLocation"
            android:enabled="true"
            android:exported="true" />
        <service android:name="com.joveeinfotech.bloodex.notification.FcmInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.joveeinfotech.bloodex.notification.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="com.joveeinfotech.bloodex.view.NotificationReceiver">
            <intent-filter>
                <action android:name="YES_ACTION" />
                <action android:name="NO_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.joveeinfotech.bloodex.EmptyActivity"
            android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity
            android:name="com.joveeinfotech.bloodex.RequestHistory"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name="com.joveeinfotech.bloodex.EmptyActivity1"
            android:theme="@style/AppThemeNoActionBar">

        </activity>
        <activity
            android:name="com.joveeinfotech.bloodex.view.UserProfileEdit"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name="com.joveeinfotech.bloodex.view.RequestResponse"
            android:theme="@style/AppThemeActionBar">

        </activity>
        <activity
            android:name="com.joveeinfotech.bloodex.view.ProfileView"
            android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity android:name=".AboutUS"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".SelectLanguage"
            android:theme="@style/AppThemeNoActionBar"/>
    </application>

</manifest>